@page "/Delete"
@page "/Delete/{VehiculoId:int}"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<PageTitle>Eliminar Vehículo</PageTitle>

<div class="card shadow">
    <div class="card-header">
        <h3>Eliminar Vehículo</h3>
    </div>
    <div class="card-header">
        <h3 class="text-danger">¿Estás seguro de que quieres eliminar el vehículo?</h3>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <p>-VehiculoID: @vehiculo.VehiculoId</p>
                <p>-Fecha: @vehiculo.Fecha.ToString("dd/MM/yyyy")</p>
                <p>-Descripción: @vehiculo.Descripcion</p>
                <p>-Costo: @vehiculo.Costo</p>
                <p>-Gastos: @vehiculo.Gastos</p>
            </div>

        </div>
    </div>
   
    <div class="card-header">
        <h3>Detalles del vehículo</h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>AccesorioId</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in vehiculo.VehiculosDetalle)
            {
                var accesorio = listaAccesorios.FirstOrDefault(a => a.AccesorioId == detalle.AccesorioId);
                <tr>
                    <td>@detalle.AccesorioId</td>
                    <td>@detalle.Valor</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer">
        <a href="/Index" class="btn btn-secondary bi bi-arrow-left-square-fill ms-auto">Volver</a>
        <button type="button" class="btn btn-danger bi bi-trash-fill" @onclick="Eliminar">Eliminar</button>
    </div>
    
</div>

@code {

    [Parameter]
    public int VehiculoId { get; set; }
    public Vehiculos vehiculo { get; set; } = new Vehiculos();
    public List<Accesorios> listaAccesorios { get; set; } = new List<Accesorios>();


    protected override async Task OnInitializedAsync()
    {
        if (VehiculoId > 0)
        {
            var vehiculoEncontrado = await httpClient.GetFromJsonAsync<Vehiculos>($"api/Vehiculos/{VehiculoId}");
            if (vehiculoEncontrado != null)
            {
                vehiculo = vehiculoEncontrado;
            }
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await httpClient.DeleteAsync($"api/Vehiculos/{vehiculo.VehiculoId}");
        if (eliminado.IsSuccessStatusCode)
        {
            vehiculo = new Vehiculos();
        }

        navigationManager.NavigateTo("/Index");
    }
}
